<%= form_for Post.new do |f| %>
<div class="form">
      <li>Title:</li><%= f.text_field :title, class: "form_field_post" %>
      <li>Content:</li><%= f.text_area :content, class: "form_box_post", cols: 30, rows: 10 %><br>
      <li>Tags (separated by commas) :</li><%= f.text_field :tag_list, class: "form_field_post" %><br>
      <%= f.submit "Post", class: "form_button" %>
    </div>
<% end %>
