<% if user_signed_in? %>
   <%= render "form" %>
<% end %>
   <div class="article">
   <% @posts.each do |post| %>
     <% unless @dates.include?(post.created_at.strftime("%B %d")) %>
       <%= post.created_at.strftime("%B %d") %>
       <% @dates << post.created_at.strftime("%B %d") %>
     <% end %>

     <h1><%=link_to post.title, post %></h1>
     <p><%= truncate(post.content, length: 400, separator: ' ') %></p>

     <h6>by <%= link_to post.user.handle, user_posts_path( post.user ) %> at <%= post.created_at.strftime("%H:%M") %> - <%= post.comments.count %> comments - <%= post.favorites.count %> favorites
       <% if user_signed_in? %>
         <% favorited = Favorite.find_by( post: post, user: current_user ) != nil %>
         <% btn_color = favorited ? "warning" : "default" %>
         <%= link_to "+", post_favorites_path( post ), method: :post, disabled: !user_signed_in? %>
       <% end %></h6>
   <% end %>
   </div>
   <div class="aside">
      <ul>
         <li>Tag</li>
         <li></li>
         <li></li>
      </ul>
      <ul>
         <li>Filter by</li>
         <li></li>
         <li></li>
      </ul>
      <ul>
         <li>Search</li>
         <li></li>
         <li></li>
      </ul>
   </div>
</div>
