<h2>Posts</h2>
<% if user_signed_in? %>
   <%= render "form" %>
   <br>
<% end %>

<% @posts.each do |post| %>
   <h3><%=link_to post.title, post %></h3>
   <br>
   <strong>Content:</strong>
   <p><%= post.content %></p>
   <% favorited = Favorite.find_by( post: post, user: current_user ) != nil %>
    <% btn_color = favorited ? "warning" : "default" %>
    <%= link_to "+favorite", post_favorites_path( post ), method: :post, class: "btn btn-#{btn_color} btn-xs", disabled: !user_signed_in? %>
    <%= post.favorites.count %>
   <p><%= link_to post.user.handle, user_posts_path( post.user ) %></p>
   <hr>
<% end %>
