<div class="article">
   <h1><%=@post.title %></h1>
   <p><%= @post.content %></p>
   <h6><% @post.tags.each do |tag| %>
   <%= link_to tag, tag_path(tag) %>
   <% end %></h6>

   <h6>by <%= link_to @post.user.handle, user_posts_path( @post.user ) %> on <%= @post.created_at.strftime("%B %d, %H:%M") %> - <%= @post.comments.count %> comments - <%= @post.favorites.count %> favorites
     <% if user_signed_in? %>
       <% favorited = Favorite.find_by( post: @post, user: current_user ) != nil %>
       <% btn_color = favorited ? "warning" : "default" %>
       <%= link_to "+", post_favorites_path( @post ), method: :post, disabled: !user_signed_in? %>
     <% end %></h6>

   <% if user_signed_in? %>
   <%= render "posts/commentform" %>
   <% end %>

   <% @post.comments.each do |comment| %>
     <p><%= comment.comment %></p>
     <h6>by <%= link_to comment.user.handle , user_posts_path( comment.user ) %> on <%= comment.created_at.strftime("%B %d, %H:%M") %>
   <% end %></h6>

</div>
<div class="aside">
   <ul>
      <li>Tag</li>
      <li></li>
      <li></li>
   </ul>
   <ul>
      <li>Filter by</li>
      <li></li>
      <li></li>
   </ul>
   <ul>
      <li>Search</li>
      <li></li>
      <li></li>
   </ul>
</div>
