<div class="article">
   <h2>Posts by <%= @user.handle %></h2>

   <% @posts.each do |post| %>
     <h1><%=link_to post.title, post %></h1>
     <p><%= truncate(post.content, length: 400, separator: ' ') %></p>

     <h6>by <%= link_to post.user.handle, user_posts_path( post.user ) %> on <%= post.created_at.strftime("%B %d, %H:%M") %> - <%= post.comments.count %> comments - <%= post.favorites.count %> favorites
       <% if user_signed_in? %>
         <% favorited = Favorite.find_by( post: post, user: current_user ) != nil %>
         <% btn_color = favorited ? "warning" : "default" %>
         <%= link_to "+", post_favorites_path( post ), method: :post, disabled: !user_signed_in? %>
       <% end %></h6>
   <% end %>
</div>
<div class="aside">
  <ul>
     <li>Tags</li>
     <li><% @tags.most_used.each do |tag| %>
       <h6><%= link_to tag, tag_path(tag) %></h6>
     <% end %></li>
  </ul>
  <ul>
     <li>Users</li>
     <li><% @users.each do |user| %>
       <h6><%= link_to user.handle, user_posts_path( user ) %></h6>
     <% end %></li>
  </ul>
   <div class="search">
   <ul>
      <li><%= form_tag(posts_path, :method => "get", id: "search-form") do %></li>
      <li><%= search_field_tag :search, params[:search], placeholder: "Search Articles", class: "form_field_search" %></li>
      <li><%= submit_tag "Search", class: "form_button_search" %></li>
      <% end %>
   </ul>

</div>
